body {
    margin: 0px;
    padding: 0px;
}


.container-title {
    padding-top: 20px;
}


/******************* navbar *******************/

.navbar {
    background: none;
    text-transform: uppercase;
}

.navbar-nav {
    text-align: right;
}


/******************* jumbotron *******************/

.top-container {
    height: 90vh;
    background: url("../images/heather-background.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
    color: #4d004d;
}



/******************* about *******************/


.about-container {
    
}

.about-profile {
    display: flex;
    padding-top: 20px;
}

.about-history {
    margin-right: 20px;
}

.about-image {

}

.avator {
 vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}




