body {
    margin: 0px;
    padding: 0px;
}

.container-title {
    padding-top: 20px;
}


/******************* navbar *******************/

.navbar {
    background: none;
    text-transform: uppercase;
}

.navbar-nav {
    text-align: right;
}


/******************* jumbotron *******************/

.top-container {
    height: 90vh;
    background: url("../images/heather-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
    color: #4d004d;
}

/******************* about *******************/


.about-container {
    
}

.about-profile {
    display: flex;
}

.about-history {
    margin-right: 20px;
}

.about-image {

}

.avator {
 vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}


/******************* treatmeants *******************/

.treatmeants-background {
    height: 90vh;
    background: url("../images/treatmeant-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.accordion {
    margin-top: 20px;
}

.card-header {
    padding: 0;
    margin: 0;
}

.card-header .btn-light {
    color: #4d004d;
}

.card-body {
    display: flex;
}

.treatmeant-image {
  width: 250px;
  height: 200px;
}
