body {
    margin: 0px;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1em;
    line-height: 1.6;
}

.container-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding-top: 20px;
}


/******************* navbar *******************/

.navbar {
    background-color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
}

.navbar-nav {
    text-align: right;
}

.navbar-brand {
    
}

.navbar-toggler {
    border: 0;
}

.navbar-light  .navbar-brand {
    color: #4d004d;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

/******************* jumbotron *******************/

header {
    height: 100vh;
    background: url("../images/massage-background9.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    display: inline-block;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    background: transparent;
    color: #4d004d;
    border-radius: 8px
}

.jumbotron h1 {
    font-weight: 700;
    font-size: 3.5em;
}

.jumbotron h2 {
    font-size: 2em;
}

.jumbotron p {
    font-size: 1.5em;
}

.jumbotron hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(77, 0, 77, 0), rgba(77, 0, 77, 0.75), rgba(77, 0, 77, 0));
}


/******************* about *******************/


.about-profile {
    padding: 5%;
}

.about-profile .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-profile hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.profile-image {
    width: 200px;
    margin-right: 50px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.profile-history {
    margin-top: 30px;
}


/******************* massage-therapy *******************/

.massage-therapy {
    padding: 5%;
}

 .body-pains {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
} 


/******************* treatments *******************/

.treatments-background {
    min-height: 100vh;
    background: url("../images/treatment-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.treatments-experience {
    padding: 5%;
}

.accordion {
    margin-top: 20px;
}

.card {
    background-color: transparent;
    margin-bottom: 10px;
}
.card-header {
    padding: 0;
    margin: 0;
}

.card-header .btn-light {
    font-size: 1.1em;
    font-weight: 400;
    color: #4d004d;
}

.card-body {
    background: rgba(255, 255, 255, 0.5);
}

.treatment-description {
    
}

.treatment-image {
    float: right;
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/******************* contact *******************/

.contact-background {
    min-height: 90vh;
    background: url("../images/contact-background8.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.contact-details {
    margin-top: 30px;
    margin-bottom: 30px;
    word-wrap: break-word; 
}

.contact-form {
    margin-top: 50px;
}

.contact-input {
    margin-top: 20px;
}

.contact-icon {
    vertical-align: top;
    padding-top: 6px;
    padding-right: 5px;
}

.contact-address {
    padding-top: 20px;
}


/******************* footer *******************/

footer {
    background-color: #4d004d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
}

.fa-facebook-f {
    font-size: 1.5em;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 7px;
    color: #4d004d; 
    background: #afafaf;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.fa-facebook-f:hover { 
    background-color: #fff;
    color: #4d004d;
    text-decoration: none;
}

.fa-twitter {
    font-size: 1.5em;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 7px;
    color: #4d004d; 
    background: #afafaf;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.fa-twitter:hover { 
    background-color: #fff;
    color: #4d004d;
    text-decoration: none;
}


/******************* media queries *******************/

@media (max-width: 576px) {
    
    .navbar {
    font-size: 0.8em;
    }

    .jumbotron h1 {
        font-size: 2em
    }
    
    .jumbotron h2 {
        font-size: 1.5em
    }
    
    .jumbotron p {
        font-size: 1em
    }
    
    .section-container {
    font-size: 1em;
    }
    
    .profile-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
}



